$primary-color: #E2007E;
$secondary-color: #1D1D1B;
$light: #ffffff;
$black: #000000;
$complementary-colors: (
  "aqua": #44BAC1,
  "purple": #9C4AA0,
  "yellow": #FFB024,
  "red": #F45540,
  "magenta": #A5165B
);


$fuente: 'Roboto', sans-serif;
$base-font-size: 16px;

$mobile-breakpoint: 768px; 
$tablet-breakpoint: 1024px;
