$primary-color: #E2007E;
$secondary-color: #2e2d2d;
$gris: #6A6F76;

$light: #ffffff;
$black: #000000;
$complementary-colors: (
  "aqua": #44BAC1,
  "purple": #9C4AA0,
  "yellow": #FFB024,
  "red": #F45540,
  "magenta": #A5165B
);

$gradient-border: linear-gradient(45deg, #E2007E, #44BAC1, #9C4AA0, #FFB024, #F45540);


$box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

$fuente: 'Roboto', sans-serif;
$base-font-size: 16px;

$mobile-breakpoint: 480px; 
$tablet-breakpoint: 1024px; 
$ipad-breakpoint: 768px; 


