@import '../utils/variables';

.chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  padding: 2rem;
  background: transparent;
  text-align: center;

  .chatbot-history {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $gris;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: lighten($gris, 40%);
    }
  }

  .chatbot-question {
    font-size: 1.8rem;
    font-weight: 400;
    color: $light;
    margin-bottom: 1rem;
    text-align: center;
  }

  .chatbot-complete-message {
    font-size: 1.5rem;
    font-weight: 300;
    color: $light;
    margin-bottom: 1rem;
  }

  .chat-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    margin-top: 1rem;

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      color: $light;
    }
  }

  .chat-input {
    width: 50%;
    max-width: 600px;
    display: flex;
    gap: 0.8rem;
    margin: 0 auto;

    input.chatbot-input {
      flex: 1;
      padding: 0.8rem;
      border: 2px solid $gris;
      border-radius: 10px;
      outline: none;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 8px rgba($primary-color, 0.5);
      }
    }

    button.chatbot-submit {
      background-color: $primary-color;
      color: $light;
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  .loading-message {
    font-size: 1.2rem;
    font-style: italic;
    color: darken($primary-color, 20%);
    margin-top: 1rem;
  }

  .error-message {
    color: #FFB024 !important;
    font-size: 2rem ;
    margin-top: 0.5rem;
  }
}
