@import '../utils/variables';

// Reset básico
* {
  margin: 0;
  padding: 0;
  font-family: $fuente;
  box-sizing: border-box;
}

// Configuración de fondo global
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $fuente;
  overflow-x: hidden;
  background-image: url('/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  @media (max-width: $ipad-breakpoint) {
    background-image: url('/fondo_vertical.png');
  }

  @media (max-width: $mobile-breakpoint) {
    background-image: url('/fondo_vertical.png');
  }
}

// Contenedor principal del App
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Contenedor principal del Main
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  min-height: calc(100vh - 100px);
  padding: 2rem;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: $ipad-breakpoint) {
    padding: 1.5rem;
  }

  @media (max-width: $mobile-breakpoint) {
    padding: 1rem;
    background-color: lighten($secondary-color, 10%);
  }
}

// Contenedor para la selección inicial
.main-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
  gap: 2rem;
  padding: 2rem;

  p {
    font-size: 1.8rem;
    color: $light;
    margin-bottom: 2rem;
  }

  .card-group {
    display: flex;
    gap: 2rem;

    @media (max-width: $mobile-breakpoint) {
      flex-direction: column;
      align-items: center;
    }
  }

  .card {
    background-color: $light;
    border-radius: 12px;
    box-shadow: $box-shadow;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .card-image {
      width: 250px;   
      height: 250px;
      object-fit: cover;
      border-radius:250px;
      margin-bottom: 0.8rem;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        transform: scale(1.07); 
      }
    }

    .card-text {
      font-size: 1.2rem;
      color: $primary-color;
      font-weight: bold;
    }
  }
}

// Estilos Responsivos
@media (max-width: $tablet-breakpoint) {
  .main-selection-container {
    padding: 1.5rem;
  }

  .card-group {
    flex-direction: column;
    gap: 1.5rem;

    .card {
      width: 100%;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .main-selection-container {
    padding: 1rem;
  }

  .card-group {
    gap: 1rem;

    .card {
      font-size: 1rem;
      padding: 0.8rem 1.5rem;
    }
  }
}
