
@import './utils/variables';
@import './utils/mixins';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; 
  background-color: $light;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.main-content {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center; 
}

@import './components/Footer';
@import './components/Header';
@import './components/Nav';
@import './components/Main';
@import './components/Edicion';
@import './components/Graficas';
@import './components/Login';


